.SP {
  width: 100%;
  display: flex;
  position: relative;
  font-family: Helvetica, sans-serif;
  max-width: 1550px;
  margin: 0 auto;
  margin-top: 100px;
}
.SP-ImageContainer {
  width: calc(100% - 560px);
  margin-left: 55px;
  margin-right: 72px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.SP-Image {
  width: 49%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  max-height: fit-content;
}
.SP-Image:nth-child(2) {
  margin-left: 10px;
}
.SP-Image:nth-child(4) {
  margin-left: 10px;
}
.SP-Image:nth-child(n + 3) {
  margin-top: 7px;
}
.SP-Image img {
  width: 100%;
}
/*!=========================================================================================================!*/
.SP-OptionContainer {
  width: 378px;

  position: relative;
  font-family: Helvetica, sans-serif;
}
.SP-TextContainer {
  /* border: 1px solid red; */
  /* border: 1px solid red; */
  position: relative;
  height: 100px;
}

.SP-TextContainer p:first-child {
  /* border: 1px solid red; */
  font-size: 28px;
  position: relative;
  margin-bottom: 5px;
  /* top: -28px; */
}
.SP-TextContainer p:nth-child(2) {
  position: relative;
  font-size: 16px;
  margin-bottom: 18px;
  /* border: 1px solid red; */
  /* top: -50px; */
}
.SP-TextContainer p:nth-child(3) {
  position: relative;
  /* border: 1px solid red; */
  font-size: 16px;
  /* top: -45px; */

}

.SP-OtherColorContainer {
  position: relative;
  /* border: 1px solid red; */
  margin-top: 15px;
  /* border: 1px solid red; */
  /* margin-top: 20px; */
}

.SP-OtherColorContainer img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.SP-OtherColorContainer img:hover {
  cursor: pointer;
  border-color: #b8b8b8;
}

.SP-SizeContainer {
  margin-top: 35px;
  /* border: 1px solid red; */
}
.SP-SizeTextContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 12px;
}

.SP-SizeTextContainer p:nth-child(2) {
  color: #757575;
}

.SP-ButtonContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.SP-ButtonContainer button {
  width: 120px;
  height: 50px;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
}
.SP-ButtonContainer button:nth-child(n + 4) {
  margin-top: 6px;
}
.SP-ButtonContainer button:hover {
  cursor: pointer;
  border-color: black;
}

.SP-CheckoutContainer {
  /* display: none; */
  margin-top: 15px;
  /* border: 1px solid red; */
}
.SP-CheckoutContainer button {
  display: block;
  font-size: 16px;
  width: 100%;
  min-height: 60px;
  padding: 18px 24px;
  border-radius: 30px;
  border: 1.5px solid transparent;
}
.SP-CheckoutContainer button:first-child {
  background-color: black;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
}

.SP-CheckoutContainer button:nth-child(2) {
  background-color: white;
  cursor: pointer;
  border: 1.5px solid #e5e5e5;
}
.SP-CheckoutContainer button:first-child:hover {
  background-color: #757575;
}
.SP-CheckoutContainer button:nth-child(2):hover {
  border-color: black;
}

@media (max-width: 1076px) {
  .SP-Image {
    width: 48.5%;
  }
}

@media (max-width: 960px) {
  .SP {
    display: none;
  }
}
