.PS {
  position: relative;
  font-family: Helvetica, sans-serif;
  max-width: 1550px;
  margin: 0 auto;
  margin-top: 80px;
}

.PS-TopContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  transition: all 0.3s ease;
}
.PS-TopContainer p {
  font-size: 20px;
}
.PS-ButtonContainer {
  display: flex;
  align-items: center;
}
.PS-ButtonContainer svg {
  border-radius: 50%;
  padding: 12px;
  border: none;
  transition: all 250ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
.PS-LeftIcon {
  background-color: rgb(245, 245, 245);
  color: rgb(204, 204, 204);
}

.PS-RightIcon {
  background-color: rgb(245, 245, 245);
  color: rgb(204, 204, 204);

  margin-left: 11px;
}
.PS-LeftIcon.iconactive {
  background-color: rgb(229, 229, 229);
  color: black;
  cursor: pointer;
}
.PS-RightIcon.iconactive {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
  color: black;
}
.PS-RightIcon.iconactive:hover {
  background-color: #cccccc;
}
.PS-LeftIcon.iconactive:hover {
  background-color: #cccccc;
}

.PS-BottomContainer {
  /* display: none; */
  transition: all 0.3s ease;
  padding: 0 50px;
  overflow: auto;
  white-space: nowrap;
  margin-top: 8px;
}

.PS-ImageContainer {
  transition: all 0.3s ease;
  width: 30.5%;
  display: inline-block;
  min-width: 270px;
  max-width: 600px;
}

.PS-ImageContainer img {
  transition: all 0.3s ease;
  width: 100%;
}
.PS-TextContainer {
  position: relative;
  margin-top: 8px;
}
.PS-TextContainer p:first-child {
  font-size: 16px;
  position: relative;
}
.PS-TextContainer p:nth-child(2) {
  position: relative;
  margin-top: 4px;
  color: #757575;
}
.PS-TextContainer p:nth-child(3) {
  margin-top: 12px;
  position: relative;
}
.PS-ImageContainer:nth-child(2) {
  margin-left: 12px;
}
.PS-ImageContainer:nth-child(n + 3) {
  margin-left: 8px;
}
