@media (max-width: 960px) {
  .F {
    padding: 0 25px;
  }
  .F-TextContainer1,
  .F-TextContainer2 {
    left: 25px;
    bottom: 25px;
  }
  .F-Img1Full,
  .F-Img2Full {
    height: 500px;
  }
}

@media (max-width: 610px) {
  .F-ImageContainer {
    flex-direction: column;
    justify-content: none;
  }
  .F-Image1Container,
  .F-Image2Container {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  .F-Image1Container {
    margin-bottom: 10px;
  }
  .F-Img1Full,
  .F-Img2Full {
    display: none;
  }
  .F-Img1Res,
  .F-Img2Res {
    display: block;
    position: relative;
    left: 50%;
    width: 100%;
    /* top: 50%; */
    transition: all 0.3s ease;
    transform: translateX(-50%);
    /* transform: translate(-50%, -50%); */
  }
  .F-TextContainer1,
  .F-TextContainer2 {
    bottom: 25px;
    right: 25px;
  }
}